#friends-display-link{
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -15px;
}

#friends-display-link i{
    color: rgba(0,0,0,0.3);
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top:15px;
}

.friends-screen__channel-header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color:rgba(0,0,0,0.5);
}

.recommended-friends{
    padding: 25px 0px;
    margin: 25px 0px 15px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title{
    font-size: 14px;
    color:  rgba(0,0,0,0.5);
}

.recommended-friends span{
    margin: 100px 0;
    display: block;/*span은 inline이라 마진 상하를 못줌 그래서 블록화 해준것*/
    text-align: center;
    font-size: 18px;
    color:  rgba(0,0,0,0.5);
}

@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
        /*마우스에 element가 선택되지 않게 해주는 것일 뿐임
        element는 그대로 남아있고, chrome을 통해 확인 가능
        진짜로 없애는 것을 사용하려면 javascript를 사용해야
        그래도 여기서는 클릭 안되는 문제를 해결은 했네*/
    }
}

#splash-screen{
    background-color: var(--yellow);
    position: absolute;/*아래를 왜 vh, vw로 했냐면 다른 relative에 영향을 받지 않으려고*/
    height: 100vh;/*화면의 100% 높이*/
    width: 100vw;/*화면의 100% 넓이*/
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    /*position이 relative인 조상 중 제일 가까운 조상을 기준으로 위치를 변경하는 것인데,
    위의 경우 모든 화면을 덮어줘야 하므로, 기준을 body로 잡아야 했다. 그런데, 이를 굳이 수정
    하지 않고 화면을 기준으로 높이, 넓이를 100%로 해주고 top위치를 0으로 잡아 해결하였다. */
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 3s;/*2초를 기다리고 애니메이션을 실행하라*/
}

